<div class="container">
  <h2>Frequently Asked Questions</h2>
</div>

<div class="bs-example">
  <div class="panel-group" [attr.id]="'accordion_' + i" *ngFor="let faq of faqs; let i = index;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">{{ faq.question }}</a>
        </h4>
      </div>
      <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
        <div class="panel-body">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  </div>
</div>